<h2><%= @production_unity_scope.scope.name %> de <%= @production_unity.name %>

<div class = "row">
  <div class = "col-md-6">
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">Informações</h3>
      </div>
      <div class = "panel-body">
        <p>
          <strong>Sigla:</strong> <%= @production_unity_scope.scope.acronym %><br>
        </p>
        <p>
          <strong>Área total:</strong>
          <% if @production_unity_scope.total_area.present? %>
            <%= rounded_formated_value(@production_unity_scope.total_area) %> ha (Valor fornecido manualmente)
          <% else %>
            <%= rounded_formated_value(@production_unity.scope_products.where.not(area: nil).map(&:area).sum) %>ha<%= " - Não foi fornecida a área de #{@production_unity.scope_products.where(area: nil).count} produto(s)." if @production_unity.scope_products.where(area: nil).any? %>
          <% end %>
        </p>

        <p>
          <strong>Quantidade de produtos:</strong> <%= @production_unity_scope.scope_products.count %><br>
        </p>
        <%= link_to 'Editar Informações', edit_group_production_unity_production_unity_scope_path(@group, @production_unity, @production_unity_scope), class: 'btn btn-default' %>
      </div>

    </div>
  </div>
  <div class = "col-md-6">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h3 class = "panel-title">Ações</h3>
      </div>
      <%= link_to 'Adicionar produto', new_group_production_unity_production_unity_scope_scope_product_path(@group, @production_unity, @production_unity_scope), class: "list-group-item" %>

    </div>
  </div>
</div>

<% if @production_unity_scope.scope_products.count != 0 %>
<h3>Produtos de <%= @production_unity.name %> no escopo <%= @production_unity_scope.scope.name %></h3>
<table class = "table">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Area (ha)</th>
    <th>Data da ultima modificação</th>
    <th colspan="2">Ações</th>
  </tr>
  <% @production_unity_scope.scope_products.joins(:product).order('products.name').each do |scope_product| %>
    <tr>
      <td><%= scope_product.product.name %></td>

      <td><%= scope_product.amount.present? ? "#{rounded_formated_value(scope_product.amount)} #{ScopeProduct::UNITIES[scope_product.unity]} (s)" : "Não informado" %> </td>
      <td><%= scope_product.area.present? ? rounded_formated_value(scope_product.area) : "Não informado" %></td>
      <td><%= l(scope_product.updated_at) %></td>
      <td><%= link_to "Editar", edit_group_production_unity_production_unity_scope_scope_product_path(@group, @production_unity, @production_unity_scope, scope_product), class: "btn btn-default btn-sm" %></td>
      <td><%= link_to "Remover", [@group, @production_unity, @production_unity_scope, scope_product], method: :delete, class: "btn btn-danger btn-sm" %>
    </tr>
  <% end %>
</table>
<% else %>
  <h3>Não há produtos vinculados a este escopo ainda !  Por favor, adicione no menu ações no canto superior direito </h3>
<% end %>
