 <%= link_to 'Pagina ínicial', root_path %> -<%= link_to " #{@group.core.name} -", @group.core if user_type == 4 %> <%= link_to 'Listando grupos', groups_path %> - <%= link_to "Grupo: #{@group.name}", @group %> - <%= link_to 'Listando unidades de produção', group_production_unities_path(@group) %> - <%= link_to @production_unity.name, [@group, @production_unity] %> - <%= "Escopo  #{@production_unity_scope.scope.acronym}" %> - Editando escopo

<br>

<h2>Editando escopo <%= @production_unity_scope.scope.acronym %> de <%= @production_unity.name %></h2>	

 <%= render 'production_unity_form' %>