<p><%= link_to 'Ãnicio', root_path %> - 
  <%= link_to 'Cadastros', records_path %> -
  <%= link_to 'Listando Documentos', records_documents_path %> - 
  Editando <%= @document.description %>
</p>
<h1>Editar Documento</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', [:records, @document] %> |
<%= link_to 'Voltar', records_documents_path %>
