<%=
  create_breadcumbs([
    { url: document_access_visualizations_core_url, text: 'Núcleos' },
    { url: document_access_visualizations_group_url(core_id: @production_unity.group.core_id), text: "Grupos do núcleo #{@production_unity.group.core.name} - #{@production_unity.group.core.state.uf}" },
    { url: document_access_visualizations_documents_farmers_and_production_unities_url(group_id: @production_unity.group_id), text: "Grupo #{@production_unity.group.name}" },
    { ulr: nil, text: @production_unity.name}
  ])
%>

<h2><%= @production_unity.name %></h2>
<% if @production_unity.is_agribusiness? %>
  <%= render 'agribusiness_info', production_unity: @production_unity%>
  <% else %>
  <%= render 'production_unity_info', production_unity: @production_unity%>
<% end %>

<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1"><span class="glyphicon glyphicon-folder-close"></span> Documentos da propriedade</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @documents.empty? %>
          Não existem documentos a serem apresentados
        <% else %>
          <table class = "table ">
            <thead>
              <tr>
                <th>Nome do documento</th>
                <th>Arquivo ou url</th>
                <th>Data de criação</th>
                <th>Data de aprovação</th>
                <th>Possui versões anteriores?</th>
              </tr>
            </thead>

            <tbody>
              <% @documents.each do |document| %>
              <tr>
                <% if document.accepted? %>
                  <td><%= document.document.name %></td>
                  <td><%= document.file.file ? link_to(document.file.file.filename, document.file.file.url, target: :_blank) : link_to(document.url, document.url, target: :_blank) %></td>
                  <td><%= formated_datetime(document.created_at) %></td>
                  <td><%= formated_datetime(document.approved_at) %></td>
                  <% else %>
                  <td><%= document.document.name %></td>
                  <td> - </td>
                  <td><%= formated_datetime(document.created_at) %></td>
                  <td>Não foi aprovado</td>
                <% end %>
                <% if document.has_document_history? %>
                  <td><%= link_to 'Sim, clique aqui', '#', id: "document#{document.id}"%></td>
                  <% else %>
                  <td>Não</td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><span class="glyphicon glyphicon-folder-close"></span> Certificados da propriedade</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @certificates.empty? %>
          Não existem certificados a serem apresentados
        <% else %>
        <table class = "table">
          <tr>
            <th>
              Data de emissão
            </th>
            <th>
              Data da reunião
            </th>
            <th>
              Data da D.A.C
            </th>
            <th>
              Tipo
            </th>
            <th colspan="2">
              Ações
            </th>
          </tr>
          <% @certificates.each do |certificate_name| %>
            <tr>
              <td>
                <%= l certificate_name.certificate.certificate_group.created_at %>
              </td>
              <td>
                <%= l certificate_name.certificate.certificate_group.meeting_date %>
              </td>
              <td>
                <%= l certificate_name.certificate.dac_date %>
              </td>
              <td>
                <%=  certificate_name.certificate.certificate_type == "4" ? "Certificado de razão social" : "Certificado do membro #{certificate_name.certificate.agribusiness_member_name.name}" %>
              </td>
              <td>
                <%= link_to "Gerar PDF", { controller: 'document_access_visualizations',
                                           action: 'certificate',
                                           certificate_id: certificate_name.certificate,
                                           format: :pdf },
                                           target: :blank, class: "btn btn-success btn-xs" %>
              </td>
            </tr>
          <% end %>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<%= link_to 'Voltar', {controller: 'document_access_visualizations', action: 'documents_farmers_and_production_unities', group_id: @production_unity.group_id} %>

<% @documents.select { |d| d.has_document_history? }.each do |document| %>
  <%= render partial: 'show_document_history', locals: {button_name: "document#{document.id}", document: document } %>
<% end%>
