<%= link_to 'Pagina ínicial', root_path %> -<%= link_to " #{@group.core.name} -", @group.core if user_type == 4 %> <%= link_to 'Listando grupos', groups_path %> - Editando grupo: <%= @group.name %>

<h1>Editando informações de <%= @group.name %></h1>

<!-- Se for admin -->
<% if user_type == 4 %>
<%= render 'form_core' %>
<!-- Se for um Núcleo-->
<% elsif user_type > 1 and user_type < 4 %>
<%= render 'form' %>
<% end %>

<%= link_to 'Mostrar', @group %> |
<%= link_to 'Voltar', groups_path %>
