<p>
  <strong>Nome da propriedade ou sítio:</strong> <%= @production_unity.name %>
</p>

<p>
  <strong>Área total:</strong> <%= rounded_formated_value @production_unity.total_area %>
</p>
<p>
  <strong>Área orgânica total:</strong> <%= @production_unity.total_organic_area %>
</p>
<p>
  <strong>Área da mata nativa:</strong> <%= @production_unity.total_native_area %>
</p>

<% if require_current_or_admin(@group.core.id, true, true) %>
<p>
  <strong>Status:</strong> <%= @production_unity.sig_org_status %><% if @production_unity.sig_org_status != "Atualizado" %>
  <%= link_to "Marcar como atualizado no SigOrg", group_production_unity_set_updated_path(@group, @production_unity), method: :post, data: {:confirm => "Realmente deseja marcar como atualizado no SigOrg?"} %>
  <% end %>
</p>
<% end %>

<p>
  <strong>Pode receber certificado:</strong> <%= t(@production_unity.can_have_certificate?.to_s) %> <%= link_to('Mostrar Pendências', '#', class: 'btn-pendences') unless @production_unity.can_have_certificate? %>
</p>
<div class = "pendences">
  <%= render partial: 'application/missing_documents/production_unity', locals: { production_unity_analysis: @production_unity.document_analysis } %>
</div>
<p>
  <% p = @production_unity %>
  <strong>Coordenadas geográficas</strong><% if p.lat_hour.present? %><%= "Latitude: #{p.lat_hour}º #{p.lat_minute}' #{p.lat_second}'' #{p.lat_type}.  Longitude: #{p.lon_hour}º #{p.lon_minute}' #{p.lon_second}'' #{p.lon_type}" %>
  <% else %>
    Não informado.
  <% end %>
</p>
<p>
  <strong>Tipo:</strong> <%= @production_unity.production_type %>
</p>
<p>
  <strong>Endereço:</strong> <%= @production_unity.address %>
</p>
<p>
  <strong>Bairro:</strong> <%= @production_unity.neighborhood %>
</p>
<p>
  <strong>Cidade:</strong> <%= @production_unity.city.name %>
</p>

<p>
  <strong>CEP:</strong> <%= @production_unity.cep %>
</p>

<p>
  <strong>Responsável:</strong> <%= link_to @production_unity.responsible.name, [@production_unity.responsible.group, @production_unity.responsible] %>
</p>

<p>
  <strong>Última modificação:</strong>
  <%= l @production_unity.updated_at %>
</p>

<script type = "text/javascript">
  $('document').ready(function(){

    var showing = false;
    $('.pendences').hide();
    $('.btn-pendences').click(function(){
      if(showing == false){
        $('.pendences').show();
        $('.btn-pendences').html('Ocultar Pendências');
        showing = true;
      }else{
        $('.pendences').hide();
        $('.btn-pendences').html('Mostrar Pendências');
        showing = false;
      }
    });
  });
</script>
