<%= link_to 'Pagina ínicial', root_path %> -<%= link_to " #{@group.core.name} -", @group.core if user_type == 4 %> <%= link_to 'Listando grupos', groups_path %> - <%= link_to "Grupo: #{@farmer.group.name}", @farmer.group %> - <%= link_to 'Agricultores', group_farmers_path(@farmer.group) %> - <%= link_to "#{@farmer.name}", [@farmer.group, @farmer] %> - <%= link_to "D.A.C's", group_farmer_dacs_path(@farmer.group, @farmer) %> - D.A.C de <%= l @dac.dac_date %>	

<br><br>
<p>
  <strong>Data:</strong>
  <%= l @dac.dac_date %>
</p>

<p>
  <strong>Foi visitado:</strong>
  <%= @dac.sampling ? 'Sim' : 'Não' %>
</p>

<p>
  <strong>Adicionado por:</strong>
  <%= @dac.added_by %>
</p>

<%= link_to 'Voltar', group_farmer_dacs_path(@farmer.group, @farmer) %>
