<%= link_to 'Pagina Inícial', root_path %> - <%= link_to 'Cadastros', records_path %> - <%= link_to "Listando produtos", records_products_path  %> - Novo produto

<h1>Novo produto</h1>

<%= render 'form' %>

<%= link_to 'Voltar', records_products_path %>
