<%= link_to 'Pagina ínicial', root_path %> -<%= link_to " #{@group.core.name} -", @group.core if user_type == 4 %> <%= link_to 'Listando grupos', groups_path %> - <%= link_to "Grupo: #{@group.name}", @group %> - Listando alterações de suplentes e titulares

<% if @set_suplentes.count != 0 %>

<h1>Listando alterações de suplentes e titulares de <%= @group.name %></h1>



<table class = "table border-table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Agricultor</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Por</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @set_suplentes.each do |set_suplente| %>
      <tr>
        <th><%= l set_suplente.created_at %></th>
        <td><%= link_to set_suplente.farmer.name, [@group, set_suplente.farmer] %></td>
        <td><%= set_suplente.set_type == 1 ? 'Tornou-se suplente' : 'Tornou-se titular' %></td>
        <td><%= set_suplente.description %></td>
        <td><%= set_suplente.added_by %></td>
        <td><%= link_to 'Mostrar', [@group, set_suplente] %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @set_suplentes %>

<% else %>
  <h3>Não foi feita nenhuma alteração de suplente ou titular ainda. </h3>
<% end %>

<% if require_current_or_admin(@group.core.id, true) %>
<%= link_to 'Nova alteração', new_group_set_suplente_path, class: "btn btn-default" %>
<% end %>
