<%= link_to 'Pagina ínicial', root_path %> -<%= link_to " #{@group.core.name} -", @group.core if user_type == 4 %> <%= link_to 'Listando grupos', groups_path %> - <%= link_to "Grupo: #{@group.name}", @group %> - <%= link_to 'Listando alterações de suplentes e titulares', group_set_suplentes_path(@group) %> - Mostrando alteração

<br><br>

<p>
  <strong>Agricultor:</strong>
  <%= link_to @set_suplente.farmer.name, [@group, @set_suplente.farmer] %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @set_suplente.set_type == 1 ? 'Tornou-se suplente' : 'Tornou-se titular' %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @set_suplente.description %>
</p>

<%= link_to 'Voltar', group_set_suplentes_path %>
