<%= bootstrap_form_for([@group, @farmer, @farmer_suspension]) do |f| %>

  <%= show_errors(@farmer_suspension) %>


    <%= f.text_field :description %>

    <%= f.date_select :suspension_date %>

        <h4>Motivo(s) da suspensão: </h4>

    <% SuspensionType.all.each do |suspension_type| %>
    <%  checked = false %>
      <% checked = true if @farmer_suspension.farmer_suspension_reasons.where(suspension_type_id: suspension_type.id).present? %>
      <%= check_box_tag "suspension_types[#{suspension_type.id}]", "true", checked %> - <%= suspension_type.name %><br>
    <% end %>


<br>
    <%= f.submit  data: {"disable-with" => "Salvando..."} %>

<% end %>
<br>
