<p><%= link_to 'Ínicio', root_path %> -
  <%= link_to 'Cadastros', records_path %> -
  <%= link_to 'Listando tipos de suspensão', records_suspension_types_path %> - Novo tipo de suspensão
</p>
<h1>Novo tipo de suspensão</h1>

<%= render 'form' %>

<%= link_to 'Voltar', records_suspension_types_path %>
