<%= link_to 'Pagina Inícial', root_path %> - <%= link_to 'Cadastros', records_path %> - <%= link_to "Listando categorias de produtos", records_product_categories_path  %> - Nova categoria do produto

<h1>Nova categoria de produto</h1>

<%= render 'form' %>

<%= link_to 'Voltar', records_product_categories_path %>
