  <p><%= link_to 'Ínicio', root_path %> -
    <%= link_to 'Cadastros', records_path %> -
    Listando tipos de grupos
  </p>

<% if @group_types.count != 0 %>
<h1>Listando tipos de grupos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_types.each do |group_type| %>
      <tr>
        <td><%= group_type.description %></td>
        <td><%= link_to 'Mostrar', [:records, group_type] %></td>
        <td><%= link_to 'Editar', edit_records_group_type_path(group_type) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @group_types %>

<% else %>
  <h3>Não há grupos cadastrados</h3>
<% end %>

<%= link_to 'Novo tipo de grupo', new_records_group_type_path, {class: "btn btn-default"} %>
